* {
  box-sizing: border-box;
  margin: 0 auto;
}

h1 {
  display: block;
  grid-area: main;
  text-align: center;
  margin: 20px auto;
}

body {
  background-color: coral;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-areas: "aside main";
}

#board {
  grid-area: main;
  width: 70vh;
  height: 70vh;
  background-color: magenta;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  place-content: center;
}

#options {
  grid-area: aside;
  margin: 0;
  background-color: mediumspringgreen;
  height: 100vh;
}

.field {
  display: flex;
  border: 1px solid black;
  margin: 0;
  font-size: 5rem;
  place-content: center;
}

.btn {
  width: 100%;
  height: 50px;
  background-color: yellowgreen;
}

input#p1name,
input#p2name {
  width: 100%;
}
